.list-cart {
  margin-bottom : 20px
}

.label-panen{
  font-size : 1rem;
  font-weight : 800;
  margin-right : 50px;
  padding : 20px 50px;
  color : green;
  border-radius : 20px 20px;
  border : solid 3px green;

}

.card .panen {
  border :2px solid green;

  font-size : 18px
}