<template name="table1">
  <div class="">
    <div class="d-none d-lg-block">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Tanggal</th>
            <th scope="col">Jenis</th>
            <th scope="col">Jumlah</th>
            <th scope="col">Harga</th>
            <th scope="col">Total Pengeluaran</th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
          <tr>
            <td>
              {{nomorUrut @index}}
            </td>
            <td>
              {{formatHRDate feedDate}}
            </td>
            <td>
              {{fc_label feedCategory}}
            </td>
            <td>
              {{feedAmount}}
            </td>
            <td>
              {{formatRp feedPrices}}
            </td>
            <td>
              {{formatRp total}}
            </td>
            <td>
              <button id="btn-remove" class="btn btn-danger float-right" milik="{{@index}}"><i class="fa fa-trash"
                  milik="{{@index}}"></i></button> </td>
          </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <th scope="col">Total</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">{{formatRp totalAll}}</th>
            <th scope="col"></th>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="d-lg-none">
      {{#each data}}
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">{{formatHRDate feedDate}}</h5>
          <p class="card-text">{{fc_label feedCategory}} | {{feedAmount}} | {{formatRp total}}</p>
          <button id="btn-remove" class="btn btn-danger float-right" milik="{{@index}}"><i class="fa fa-trash"
              milik="{{@index}}"></i></button>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</template>